:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --active-color: #2196F3;
    --bg-color-btn: #188CE8;
    --white-color: #ffffff;
    --logo-color: #000000;
    --link-color-rgba: rgba(255, 255, 255, 0.6);
    --bg-dark: #2F303A;
    --bg-light: #F5F4FA;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --card-set-gap: 30px;
    --client-icon-color: #AFB1B8;
}

*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    font-family: var(--main-font);
    color: var(--secondary-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--white-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0; 
}


textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color:rgba(117, 117, 117, 0.5);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* H E A D E R */

.header-page {
    background-color: var(--white-color);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-page .container {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--logo-color);
    
    padding-top: 24px;
    padding-bottom: 25px;
}

.web {
    color: var(--active-color);
}

.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.site-nav a {
    position: relative;
    display: block;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-item:not(:last-child), .nav-contact-item:not(:last-child)  {
    margin-right: 50px;
}

.site-nav a:hover, .site-nav a:focus {
    color: var(--active-color);
}

a.current {
    color: var(--active-color);
}

a.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-color);
}

.nav-contact {
    display: flex;
    margin-left: auto;
}

.nav-contact a {
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-color);  
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact a:focus, .nav-contact a:hover {
    color: var(--active-color);
}

.link-contact {
    display: flex;
    padding: 0;
    align-items: center;
}

.icon-header {
    margin-right: 10px;
    fill: currentColor;
}

.nav-contact a .icon-header:hover, .nav-contact a .icon-header:focus {
    fill: var(--active-color);
}




/* M A I N */

.hero {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../images/herobg.jpg');
    
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(47, 48, 58, 0.4);
}

.hero-title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.btn-main {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;

    color: var(--white-color);

    background: var(--active-color);
    border-radius: 4px;
    border-style: none;

    margin-top: 30px;
    
}

.btn-main:hover, .btn-main:focus  {
    cursor: pointer;
    background-color: var(--bg-color-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MODAL WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate (-50%, -50%) scale(1.1);
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;


    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(5px, 5px);
}

.modal-button:hover,
.modal-button:focus {
    animation: icon-close 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: var(--active-color);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form {
    padding: 40px;
}

.group {
    margin-bottom: 30px;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.form-field:last-child {
    margin: 0;
}

.form-field label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--secondary-color);
    text-align: start;
}

.policy-descr {
    font-size: 14px;
    letter-spacing: 0.03em;
}


.form-field input {

    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 10px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover,
.form-field input:focus {
    border-color: var(--active-color);
}

.form-field input:focus-visible {
    outline: 0px;
}

.form-field .comment {
    padding: 12px 16px;
    margin-top: 4px;
    font-family: inherit;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .comment:hover {
    border-color: var(--active-color);
}

.form-field .comment:focus-visible {
    outline: 0px;
}

.icon-modal {
    position: absolute;
    bottom: 12px;
    left: 12px;

    display: inline-block;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover + .icon-modal,
input:focus + .icon-modal {
    fill: var(--active-color);
}

.policy {
    display: flex;
    align-items: center;
    
    line-height: 1.7;
    color: var(--secondary-color);
     
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .policy {
    margin-bottom: 0;
    margin-left: 10px;
}

.policy a {
    color: var(--active-color);
    text-decoration: underline;
    cursor: pointer;
}

.policy .checkbox {
    width: 16px;
    height: 16px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-checkbox {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 9px;

    border: 2px solid var(--main-color);
    border-radius: 2px;
}

.checkbox:checked + .icon-checkbox{
    background-color: var(--active-color);
    border-color: var(--active-color);
    background-origin: border-box;
}

.checkbox:checked + .icon-check {
    fill: var(--white-color);
}

.icon-check {
    position: absolute;
    bottom: 0;
    left: 10px;
    fill: var(--white-color);
}

@keyframes icon-close {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.button-modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: var(--white-color);
    background-color: var(--active-color);

    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-modal:hover, .button-modal:focus {
    cursor: pointer;
    background-color: #188CE8;
} 

/* MODAL WINDOW ENDS*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}

.features-items > .features-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-right: var(--card-set-gap);
}


.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--bg-light);
    border-radius: 4px;

    margin-bottom: 30px;
}

.features-title {
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-color);

    margin-bottom: 10px;
}

.features-text {
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.work {
    margin-top: -94px;
}

.title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--main-color);
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-right: calc(-1 * var(--card-set-gap));
}

.card {
    position: relative;

    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-right: var(--card-set-gap);
}

.card::before{
    display: inline-block;
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.card-description {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 700;
    text-transform: uppercase;

    color: var(--white-color);
}

.team {
    background: var(--bg-light);
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
}

.team-cards > .team-card {
    
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);

    background-color: var(--white-color);
    border: 1px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

img {
    display: block; 
    max-width: 100%;
    height: auto;
}

.team-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);

    margin-top: 30px;
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);

    margin-bottom: 16px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--client-icon-color);

    border-radius: 50%;
}

.social-item:not(:last-child) {
    padding-right: 10px;
}

.social-link:hover,
.social-link:focus {
    fill: var(--white-color);
    background-color: var(--active-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.client-list {
    display: flex;
}

.client-list-item:not(:last-child)  {
    margin-right: 30px;
}

.client-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--client-icon-color);
    border-radius: 4px;
    fill: currentColor;
    color: var(--client-icon-color);
}


.client-list-link:hover,
.client-list-link:focus {
    border-color: var(--active-color);
    color: var(--active-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* F O O T E R */

.footer {
    background-color: var(--bg-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
}

.logofooter {
    color: var(--white-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: var(--secondary-font);
}

.footer-contacts {
    margin-top: 20px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-items a {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em; 
}

.footer-items a:hover, .footer-items a:focus {
    color: var(--active-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
    color: var(--white-color);
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-container {
    display: flex;  
}

.footer-main {
    margin-right: 70px;
}

.footer-social {
    padding-top: 12px;
}

.footer-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--white-color);
}

.social-list-footer {
    display: flex;
}

.social-item-footer {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.social-item-footer:not(:last-child) {
    margin-right: 10px; 
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--white-color);
    border-radius: 50%;
}



.social-link-footer:hover,
.social-link-footer:focus {
    fill: var(--white-color);
    background-color: var(--active-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
    margin-left: 93px;
    padding-top: 20px;
}

.input-subscribe {
    width: 358px;
    height: 50px;
    margin-right: 12px;

    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 15px;

    font-size: 16px;
    line-height: 1.2;
    color: var(--white-color);

}

.input-subscribe:focus-visible {
    outline: 0px;
}

.btn-subscribe {

    position: relative;
    width: 200px;
    height: 50px;

    display: inline-flex;

    padding: 10px 28px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: var(--white-color);
    background-color: var(--active-color);
    
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
}

.btn-subscribe:hover, .btn-subscribe:focus {
    cursor: pointer;
    background-color: #188CE8;
}

.icon-subscribe {
    position: absolute;
    bottom: 13px;
    right: 28px;

    fill: var(--white-color);
}


/* P O R T F O L I O   P A G E */

.line {
    border-bottom: 1px solid #ECECEC;
}

.filter-btn {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    color: var(--main-color);
    background: var(--bg-light);
    border-radius: 4px;
    border-style: none;
}

.btn-portfolio:hover, .btn-portfolio:focus {
    cursor: pointer;
    background: var(--active-color);
    color:var(--white-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:not(:last-child) {
    margin-right: 8px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .card-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

}

.card-item:hover, .card-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-projects:hover,
.link-projects:focus {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
 padding: 24px 20px;
}

.item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-color);
}

.item-descr {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.description-position {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.5;
    text-align: left;

    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 1;
    transform: translateY(294px);
}

.link-projects:hover .description-position,
.link-projects:focus .description-position {
    opacity: 1;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.product-thumb {
    position: relative;
    overflow: hidden;
}


